# renovate: datasource=github-releases depName=aws/aws-cli
awscli 2.15.20

# renovate: datasource=github-releases depName=eksctl-io/eksctl
eksctl 0.175.0

# renovate: datasource=golang-version depName=golang
golang 1.22.2

# renovate: datasource=github-releases depName=casey/just
just 1.25.2

# renovate: datasource=github-releases depName=opentofu/opentofu
opentofu 1.6.2

# renovate: datasource=github-releases depName=pre-commit/pre-commit
pre-commit 3.7.0

# renovate: datasource=github-releases depName=hashicorp/terraform
terraform 1.7.5

# renovate: datasource=github-releases depName=terraform-docs/terraform-docs
terraform-docs 0.17.0

# renovate: datasource=github-releases depName=terraform-linters/tflint
tflint 0.50.3

# renovate: datasource=github-releases depName=aquasecurity/tfsec
tfsec 1.28.5
