################################################################################
#                                                                              #
# Note: when adding a new tool here, also adjust the Renovate configuration    #
#       that mirrors some asdf plugin's logic to remove version prefixes like  #
#       "v".                                                                   #
#                                                                              #
#       You have to amend the Renovate config when the asdf plugin takes 1.2.3 #
#       as the version but the Docker tag/Github tag is actually v1.2.3        #
#                                                                              #
################################################################################

# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

awscli 2.22.33

# renovate: datasource=github-tags depName=eksctl-io/eksctl
eksctl 0.200.0

golang 1.23.4

just 1.38.0

opentofu 1.9.0

pre-commit 4.0.1

terraform 1.10.4

terraform-docs 0.19.0

tflint 0.55.0

tfsec 1.28.13

trivy 0.58.1
