################################################################################
#                                                                              #
# Note: when adding a new tool here, also adjust the Renovate configuration    #
#       that mirrors some asdf plugin's logic to remove version prefixes like  #
#       "v".                                                                   #
#                                                                              #
#       You have to amend the Renovate config when the asdf plugin takes 1.2.3 #
#       as the version but the Docker tag/Github tag is actually v1.2.3        #
#                                                                              #
################################################################################

# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

awscli 2.15.42

# renovate: datasource=github-tags depName=eksctl-io/eksctl
eksctl 0.177.0

golang 1.22.2

just 1.25.2

opentofu 1.6.2

pre-commit 3.7.0

terraform 1.8.2

terraform-docs 0.17.0

tflint 0.50.3

tfsec 1.28.6
